@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply p-0 m-0  box-border;
  }
  body {
    @apply font-Roboto   overflow-x-hidden !scrollbar-thumb-pink-500 scrollbar-thin    scrollbar-track-blue-400 ;
  }
  pre {
    box-shadow: rgb(0 0 0 / 35%) 0 5px 15px;
    @apply my-4 bg-[#171717] p-4 w-[100%] rounded-lg text-sm text-left whitespace-pre overflow-x-auto scrollbar scrollbar-thumb-gray-900 scrollbar-track-gray-100 ;
  }
  code {
    @apply text-[#de6ead] scrollbar scrollbar-thumb-gray-900 scrollbar-track-gray-100 ;
  }
}

@layer components {
  .mainButton {
    @apply w-fit h-fit rounded-full p-1 transition duration-150 hover:bg-[#f7f7f7];
  }
  .icon {
    @apply text-[#00000090];
  }
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 30px;
}
